<%- include('header') %>
<div class="container">
    <h1>
        <title><%= title %></title>
        </title>
    </h1>
    <a href="/profile">Profile</a>
</div>
<%- include('summary')%>
<br>
<a href="/transfer">Transfer</a>
<%- include('footer') %>